label.label input[type="file"] {
  position: absolute;
  top: -1000px;
}

.label {
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}

.label:invalid+span {
  color: #f00;
}
.label:valid+span {
  color: #0f0;
}

